<div class="container">
  <div class="row footer">
    <div class="col-md-6">
      <div class="footer-left">
      Copyright © Your Website 2019
      </div>
    </div>
    <div class="col-md-6">
      <div class="footer-right">
        <a href="#">
         Privacy Policy
        </a>
        <a href="#">
          Tearm of Use
        </a>
      </div>
    </div>
  </div>
</div>
