<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>

  {{> header}}

   <section class="page-section">
  <div class="container">
    <div class="row text-center section-head">
      <div class="col-lg-12">
        <h3 class="text-uppercase section-heading">Services</h3>
        <h5 class="section-subheading ">Lorem ipsum dolor sit amet consectetur.</h5>
      </div>
    </div>
    <div class="row  text-center">
      <div class="col-md-4">
        <i class="fas  fa-shopping-cart icon-service"></i>
        <h2>E-commerce</h2>
        <p class="section-subheading">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
           Enim esse eaque, non similique minima ipsa ad praesentium?
           Eius soluta sapiente consectetur quia vitae maxime ad!
            Saepe quam dignissimos natus ut.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-laptop icon-service"></i>
        <h2>E-commerce</h2>
        <p class="section-subheading">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
           Enim esse eaque, non similique minima ipsa ad praesentium?
           Eius soluta sapiente consectetur quia vitae maxime ad!
            Saepe quam dignissimos natus ut.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-lock icon-service"></i>
        <h2>E-commerce</h2>
        <p class="section-subheading">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
           Enim esse eaque, non similique minima ipsa ad praesentium?
           Eius soluta sapiente consectetur quia vitae maxime ad!
            Saepe quam dignissimos natus ut.</p>
      </div>
    </div>
  </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row text-center section-head">
        <div class="col-lg-12">
          <h3 class="text-uppercase section-heading">PORTFOLIO </h3>
          <h5 class="section-subheading ">Lorem ipsum dolor sit amet consectetur.</h5>
        </div>
       </div>

      <div class="row">
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card" style="width: auto;" >
            <img src="/static/image/thread.jpg" class="card-img-top" style="height: 19rem;" alt="...">
            <div class="card-body">
              <h2 class="text-center">Threads</h2>
              <p class="section-subheading text-center  mb-auto">Illustration</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card"style="width: auto;">
            <img src="/static/image/explore.jpg" class="card-img-top" style="height: 19rem;" alt="...">
            <div class="card-body">
              <h2 class="text-center">Explore</h2>
              <p class="section-subheading text-center mb-auto">Graphic Design</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card" style="width: auto;">
            <img src="/static/image/finish.jpg" class="card-img-top" style="height: 19rem;" alt="...">
            <div class="card-body">
              <h2 class="text-center">finish</h2>
              <p class="section-subheading text-center mb-auto">Identity</p>
            </div>
          </div>
        </div>
         <div class="col-md-4 col-sm-6 mb-3">
          <div class="card" style="width: auto;">
            <img src="/static/image/lines.jpg" class="card-img-top" style="height: 19rem;" alt="...">
            <div class="card-body">
              <h2 class="text-center">Lines</h2>
              <p class="section-subheading text-center mb-auto">Branding</p>
            </div>
          </div>
        </div>
         <div class="col-md-4 col-sm-6 mb-3">
          <div class="card" style="width: auto;">
            <img src="/static/image/thread.jpg" class="card-img-top" style="height: 19rem;" alt="...">
            <div class="card-body">
              <h2 class="text-center">Southwest</h2>
              <p class="section-subheading text-center mb-auto">Website Design</p>
            </div>
          </div>
        </div>
         <div class="col-md-4 col-sm-6 mb-3">
          <div class="card" style="width: auto;">
            <img src="/static/image/window.jpg" class="card-img-top" style="height: 19rem;" alt="...">
            <div class="card-body">
              <h2 class="text-center">Window</h2>
              <p class="section-subheading text-center mb-auto">Photography</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="page-section">
    <div class="container">
       <div class="row text-center section-head">
        <div class="col-lg-12">
          <h3 class="text-uppercase section-heading">ABOUT </h3>
          <h5 class="section-subheading ">Lorem ipsum dolor sit amet consectetur.</h5>
        </div>
       </div>

       <div class="row">
         <div class="col-lg-12">
             <ul class="timeline">
                <li>
                    <h2>2009-2011</h2>
                    <h2>Our Humble Beginnings</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Reprehenderit fugiat sint tenetur est repellat expedita,
                      ad dolorem magnam? Enim blanditiis nulla doloremque dignissimos ab.
                      Repellat aut libero recusandae maxime accusamus.</p>
                </li>

                <li>
                    <h2>March 2011</h2>
                    <h2>An Agency is Born</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Reprehenderit fugiat sint tenetur est repellat expedita,
                      ad dolorem magnam? Enim blanditiis nulla doloremque dignissimos ab.
                      Repellat aut libero recusandae maxime accusamus.</p>
                </li>
                <li>
                    <h2>December 2012</h2>
                    <h2>Transition to Full Service</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Reprehenderit fugiat sint tenetur est repellat expedita,
                      ad dolorem magnam? Enim blanditiis nulla doloremque dignissimos ab.
                      Repellat aut libero recusandae maxime accusamus.</p>
               </li>
               <li>
                    <h2>July 2014</h2>
                    <h2>Phase Two Expansion</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Reprehenderit fugiat sint tenetur est repellat expedita,
                      ad dolorem magnam? Enim blanditiis nulla doloremque dignissimos ab.
                      Repellat aut libero recusandae maxime accusamus.</p>
               </li>
              <div style="clear: both;"></div>
             </ul>
         </div>
       </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
       <div class="row text-center section-head">
        <div class="col-lg-12">
          <h3 class="text-uppercase section-heading">OUR AMAZING TEAM </h3>
          <h5 class="section-subheading ">Lorem ipsum dolor sit amet consectetur.</h5>
        </div>
       </div>

       <div class="row">
         <div class="col-md-4">
           <div class="team-member">
              <img class="rounded-circle w-50" src="/static/image/thread.jpg" alt="">
              <h3>Kay Garland</h3>
              <h5>Lead Designer</h5>
              <div class="icon-contact">
                <a href="#">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fab fa-google" aria-hidden="true"></i>
                </a>
              </div>
           </div>
           
         </div>
         <div class="col-md-4">
           <div class="team-member">
              <img class="rounded-circle w-50" src="/static/image/lines.jpg" alt="">
              <h3>Kay Garland</h3>
              <h5>Lead Designer</h5>
              <div class="icon-contact">
                <a href="#">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fab fa-google" aria-hidden="true"></i>
                </a>
              </div>
              
           </div>
         </div>
         <div class="col-md-4">
           <div class="team-member">
              <img class="rounded-circle w-50" src="/static/image/explore.jpg" alt="">
              <h3>Kay Garland</h3>
              <h5>Lead Designer</h5>
              <div class="icon-contact">
                <a href="#">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fab fa-google" aria-hidden="true"></i>
                </a>
              </div>
           </div>
         </div>
       </div>
    </div>
  </section>

  {{> footer}}
  {{> script}}
</body>

</html>