<html>
<head>
  {{> head}}
</head>
<body>
  {{> header}}
  <section class="page-section">
    <div class="container">
    <div class="row">
      {{#each products}}
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card" style="width: auto;" >
            <img src="/static/image/thread.jpg" class="card-img-top" style="height: 19rem;" alt="...">
            <div class="card-body">
              <h2 class="text-center">{{ProName}}</h2>
              <h3 class="text-center">{{Price}} VND</h3>
              <p class="section-subheading text-center  mb-auto">{{TinyDes}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  </section>
  
  {{> footer}}
  {{> script}}
</body>  
</html>