<html>
<head>
  {{> head}}
</head>
<body>
  {{> header}}

  {{#each product}}
  <section class="page-section">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="" method="POST" class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend>PRODUCTS</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
              <div class="col-md-4">
              <input id="product_name" value="{{ProName}}" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
                
              </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="available_quantity"> AVAILABLE QUANTITY</label>  
              <div class="col-md-4">
              <input id="available_quantity" value="{{Quantity}}" name="available_quantity" placeholder="AVAILABLE QUANTITY" class="form-control input-md" required="" type="text">
                
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
              <div class="col-md-4">                     
                <textarea class="form-control"  id="product_description" name="product_description">{{TinyDes}}</textarea>
              </div>
            </div>

            <!-- File Button --> 
            <div class="form-group">
              <label class="col-md-4 control-label" for="filebutton">main_image</label>
              <div class="col-md-4">
                <input id="filebutton" name="filebutton" class="input-file" type="file">
              </div>
            </div>
          
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
              </div>
              </div>

            </fieldset>
          </form>


      </div>
    </div>
  </div>
  </section>
  {{/each}}
  
  
  {{> footer}}
  {{> script}}
</body>  
</html>