<html>
<head>
  {{> head}}
</head>
<body>
  {{> header}}
  <section class="page-section">
    <div class="container">
       <div class="row text-center section-head">
      <div class="col-lg-12">
        <h3 class="text-uppercase section-heading">Manage Products</h3>
        <h5 class="section-subheading ">Lorem ipsum dolor sit amet consectetur.</h5>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="text-uppercase section-heading">
            <a style="color:blue" href="/users/create-product"><i class="fab fa-product-hunt"></i>
            </a>
          </h3>
          <h5 class="section-subheading ">
            New Product
          </h5>
        </div>
        
      </div>
      <div class="row">
         <table class="table">
          <thead>
            <tr>
              <th scope="col">stt</th>
              <th scope="col">Name</th>
              <th scope="col">Tiny description</th>
              <th scope="col">price</th>
              <th scope="col">change</th>
            </tr>
          </thead>
            <tbody>
            {{#each products}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{ProName}}</td>
              <td>{{TinyDes}}</td>
              <td>{{Price}} vnd</td>
              <td>          
                  <a style="color: orange" href="/users/change-product/{{ProID}}"> <i class="fas fa-pencil-alt mr-3"></i></a> 
                  <a style="color:red" href="/users/delete-product/{{ProID}}"> <i class="fas fa-trash-alt"></i></a> 
              </td>
            </tr>
            {{/each}}
            </tbody>
          </table>
      </div>
    </div>
  
  </section>
  
  {{> footer}}
  {{> script}}
</body>  
</html>