body, html {
  height: 100%;
}




.navbar-logo {
  color: #fed136;
  font-family: 'Zhi Mang Xing', cursive;
  font-size:2rem;
}

.intro {
  background-image: url('/static/image/bg-4k.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

.intro-text {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-text .welcome-text {
  font-size: 4rem;
  text-align: center;
}

.intro-text .button-intro{
  color: white;
  font-size: 2rem;
  background-color:  rgba( 0, 0, 0, 0.6);
  border: none;
  width: 8em;
  height: 3em;
  border-radius: 9%;
}

.page-section {
  padding: 100px 0;
}

.section-head {
  margin: 50px 0;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

}

.section-subheading {
  font-size: 1rem;
  color: #6c757d;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.icon-service {
  font-size: 5em;
  border: 5px solid back;
  color: orange;
}

.timeline {
  list-style-type: none;
  position: relative;
}

.timeline:after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #222222;
  top: 0px;
  bottom: 0;
  left: 50%;
}

.timeline .timeline-image {
  border-radius: 50%;
  border-style: none;
  position: absolute;
  margin-left: -155px;
}

.timeline li {
  width: 50%;
  position: relative;
  box-sizing: border-box;
  padding: 20px 50px;
}

.timeline li p {
  font-size: 1rem;
  color: #6c757d;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.timeline li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;

}

.timeline li:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 24px;
  right: 2px;
  border-radius: 50%;
  width:30px;
  height: 30px;
  background-color: #222222;
}

.timeline li:nth-child(even):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -33px;
  border-radius: 50%;
  width:30px;
  height: 30px;
  background-color: #222222;
}

.team-member {
  text-align: center;

}

.team-member h5{
  font-size: 1rem;
  color: #6c757d;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.team-member .icon-contact  a i{
  font-size: 50px;
  margin: 15px;
  
}

.footer {
  text-align: center;
  margin: 30px;
}

.footer .footer-right a {
  
  color: #343a40;
  margin-left: 15px;
  
}